DATABASE_URL=mysql+aiomysql://root:@localhost:3306/vote_service
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
REDIS_URL=redis://localhost:6379/0
ELECTION_SERVICE_URL=http://localhost:8001/api/v1
FRONTEND_URL=http://127.0.0.1:5173
