[run]
branch = True
source =
    app
omit =
    app/core/config.py
    app/core/s3.py
    app/core/redis.py
    app/to_json.py
    alembic/*
    tests/*
    scripts/*

[report]
show_missing = True
skip_covered = True
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
