result
*.ckpt
*.pt
*.onnx
__pycache__
ocrs
/models
.env
*.local
*.local.*
service_base_test/testdata
.idea
pyvenv.cfg
include
share
.DS_Store

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.history
/venv

# Input and Output
/input/
/input-translated/

notebooks
.venv
.ruff_cache
coverage.txt
.coverage
.pytest_cache
.mypy_cache
htmlcov